{%extends 'admins/adminbase.html'%}

{%block contents%}



 <div class="section-title">
      
        <p>As an important subtask in the field of unmanned
            driving, lane detection has transitioned in recent years from traditional image processing to a deep learning-based neural network
            approach. However, since the early deep learning methods are
            based on semantic segmentation at the pixel level, their large
            network structures cannot meet the real-time requirements. To
            solve the real-time problem, a new network structure based on
            predefined rows, represented by UFAST, is proposed. In the
            architecture of this network model, the network parameters are
            significantly reduced, allowing the system’s real-time performance to be satisfied. To improve the performance of recognizing
            lanes in the framework of this model, we introduce attention
            mechanism into the model by considering the habits of real human
            driving. Finally, we not only improve the performance of the
            model framework in non-ideal conditions such as poor lighting
            and vehicle occlusion by nearly 1.9%, but also increase the number
            of model parameters by less than 0.2% of the UFAST</p>
      </div>
{%endblock%}
