{%extends 'users/userbase.html'%}

{%block contents%}



 <div class="section-title">
    
        
        <p>The algorithm of Symmetric encryption is in which
            both encryption and decryption use the same password.
            Therefore, it has occasion to offer enough security and
            security when the cipher transmit to conversational
            participants
            . The realization method of proposed
            algorithm mechanism : generate a cipher for two users
            (transmitter and receiver ) mail from the transmitter will
            use the be cipher for encryption. At the export end, when
            the cipher is used for message transmission, the
            encryption content is receipted and sent to the receiver.
            After that, the client deciphered the message using the
            formerly produced cipher decryption information. This
            way’s superiority is low technical load, fast realization
            and simple procedure.</p>
      </div>
{%endblock%}
